<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="pms_lock_hr.PMS_Lock" />
			<class name="pms_lock_hr.Review_PMS_lock_EMP" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->